<app-header></app-header>
<!-- Start of table -->
<section class="hero is-primary is-bold is-fullheight ">
  <div class="hero-body" >
  

    <div class="container-fluid">
        <div class="col-md-4 mt-2">
          <div class="card border-0 shadow p-3">
              <div>
                <div class="form-floating  mb-3 text-center">
                  <h5 class="text-center text-warning ">Add An Event & Join us</h5>
                </div>
                
                
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="first_name" required >
                  <label for="firstname">First name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="last_name" required>
                  <label for="lastName">Last name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                  <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="contact">
                  <label for="contact">Location</label>
                </div>
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventName" name="eventname" [(ngModel)]="event_name">
                  <label for="eventname">Event name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type='date' class="form-control" id="startDate" name="startdate"  min="2022-02-22"  [(ngModel)]="start_date">
                  <label for="startdate">start date</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="endDate" name="enddate" [(ngModel)]="end_date">
                  <label for="enddate">end date</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="Price" name="price " [(ngModel)]="price">
                  <label for="price">Price / Ticket (RM)</label>
                </div>
        
                <button type="button" class="btn btn-outline-success" (click)="addArtist()">Add Events</button>
        
              <head>
                <script>
                  
                </script>
              </head>
              
          
              </div>
          </div>
        </div>
    </div>
    </div>
  </section>
    

